
.generalDiv{
    border:2px solid silver;
    
    margin:20px;
}

.middleDiv {
    border:2px solid red;
    width:600px;
    margin:30px 40px;
    padding:40px;
}

.innerDiv{
    border:2px solid green;
    
    height:200px;
}