*{
    padding: 0;
    margin: 10px;
}

.block {
    padding: 5px;
    margin: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    width: 70px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    padding: 20px;
    margin: 5px;
    background-color: orange;
    border-radius: 5px;
}

.general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex_start{
    justify-content: flex-start;
}


.flex_end{

    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space_between {
    justify-content: space-between;
}

.space_around {
    justify-content: space-around;
}

.space_evenly {
    justify-content: space-evenly;
}


