.div1 {
    position:absolute;
    background-color: purple;
    width: 90%;
    height: 90%;
    z-index:10;
}

.div2 {
    position: absolute;
    background-color: pink;
    width: 70%;
    height: 70%;
    top: 80px;
    left: 150px;
    z-index: 20;
}

.div3 {
    border: 2px dotted black;
    background-color: yellow;
    font-size: 100px;
    text-align: center;
    padding:10px 0;
    width:50%;
    height:50%;
    left: 250px;
    position: absolute;
    z-index: 30;
}

